---
import styles from "./styles.module.css";
---

<div class={styles.slogan}>
  <div class="container">
    <p class={styles.text}>Impressive scale. Convincing quality.</p>
    <p class={styles.title}>Agroton</p>
  </div>

  <img class={styles.img} src="/agroton/images/slogan-img.png" alt="" />
</div>
