.slogan {
  text-align: center;
  text-transform: uppercase;
  padding-top: 115px;
}

.text {
  font-family: "WorkSans-Medium";
  font-weight: 500;
  color: #000;
  font-size: 40px;
}

.title {
  font-family: "WorkSans-SemiBold";
  font-weight: 600;
  color: #f2a531;
  font-size: 300px;
  line-height: 1;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -145px;
}

@media (max-width: 1600px) {
  .title {
    font-size: 140px;
  }
  .text {
    font-size: 26px;
  }
  .img {
    margin-top: -75px;
  }
}

@media (max-width: 870px) {
  .title {
    font-size: 64px;
  }
  .text {
    font-size: 26px;
  }
  .img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -35px;
  }
}

@media (max-width: 510px) {
  .slogan {
    padding-top: 30px;
  }
  .text {
    font-size: 18px;
  }
}
