.about {
  margin-bottom: 180px;
}

.top {
  text-align: center;
  color: #fdfdf0;
  background-image: url(../images/about-big.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  min-height: 748px;
}

.title {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 250px;
  line-height: 0.9;
  font-weight: 600;
  padding-top: 85px;
}

.text {
  font-family: "WorkSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}

.achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  margin-top: -55px;
}

.achievement {
  border-radius: 20px;
  background-color: #f4f4e7;
  max-width: 580px;
  padding: 14px 10px;
  display: flex;
  gap: 0 25px;
}

.achievement-imgbox {
  min-width: 214px;
  position: relative;
}

.achievement-arrow {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 5px;
}

.achievement-title {
  margin-bottom: 20px;
  font-weight: 500;
  padding-top: 10px;
}

.achievement-text {
  font-weight: 300;
  font-size: 14px;
}
