---
// import { styleSchema } from 'astro/dist/assets/fonts/config';

import styles from './styles.module.css';
import Nav from "../Nav/Nav.astro"

---

<header>
  <div class="container">
    <div class={styles.inner}>
      <a href="#" class="logo">
        <img src="/src/assets/images/logo.png" alt="" />
      </a>
      <Nav />
      <a href="#" class={styles.contacts}>Contact us</a>
    </div>
  </div>
</header>
