---
import styles from "./styles.module.css";
---

<div class={styles.partners}>
  <div class="container">
    <div class={styles.inner}>
      <div class={styles.info}>
        <h3 class={styles["info-title"]}>
          Agroton is a reliable supplier of agricultural products
        </h3>
        <p class={styles["info-text"]}>
          We cooperate with processors, distributors and retail chains, ensuring
          stable supplies and high quality standards.
        </p>
        <a href="#" class={styles.button}>
          Contact us
          <svg
            width="54"
            height="54"
            viewBox="0 0 54 54"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="27" cy="27" r="27" fill="white"></circle>
            <path
              d="M35 22V32M35 22H25M35 22L25 32"
              stroke="black"
              stroke-width="1.5"></path>
          </svg>
        </a>
      </div>
      <div class={styles["partners-box"]}>
        <div class={styles["box-top"]}>
          <ul class={styles["box-list"]}>
            <li class={styles["box-item"]}>
              <span>Direct deliveries</span> of products from the manufacturer
            </li>
            <li class={styles["box-item"]}>
              <span>Guaranteed</span> traceability and certification
            </li>
            <li class={styles["box-item"]}>
              <span>Individual</span> approach to each partner
            </li>
          </ul>
          <img
            src="/src/assets/agroton/images/partners-img.png"
            alt="Partners"
          />
        </div>
        <p class={styles["box-text"]}>
          <span>We value</span> long-term relationships and are open to new opportunities
          for cooperation!
        </p>
      </div>
    </div>
  </div>
</div>
