---
import styles from "./styles.module.css";
import MenuButton from "../../ui/MenuButton/MenuButton.astro";
---

<div class={styles.partners}>
  <div class="container">
    <div class={styles.inner}>
      <div class={styles.info}>
        <h3 class={styles["info-title"]}>
          Agroton is a reliable supplier of agricultural products
        </h3>
        <p class={styles["info-text"]}>
          We cooperate with processors, distributors and retail chains, ensuring
          stable supplies and high quality standards.
        </p>

        <MenuButton text={"Contact us"} />
      </div>
      <div class={styles["partners-box"]}>
        <div class={styles["box-top"]}>
          <ul class={styles["box-list"]}>
            <li class={styles["box-item"]}>
              <span>Direct deliveries</span> of products from the manufacturer
            </li>
            <li class={styles["box-item"]}>
              <span>Guaranteed</span> traceability and certification
            </li>
            <li class={styles["box-item"]}>
              <span>Individual</span> approach to each partner
            </li>
          </ul>

          <img src="/agroton/images/partners-img.png" alt="Partners" />
        </div>
        <p class={styles["box-text"]}>
          <span>We value</span> long-term relationships and are open to new opportunities
          for cooperation!
        </p>
      </div>
    </div>
  </div>
</div>
