.footer {
  background-color: #0e0d0d;
  padding: 100px 0;
  color: #fff;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 100px;
  gap: 20px;
}

.element-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.item + .item {
  padding-top: 15px;
}

.item-adress {
  font-style: normal;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #fff;
  font-size: 14px;
}

@media (max-width: 870px) {
  .top {
    padding-right: 0;
  }
}

@media (max-width: 790px) {
  .top {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 560px) {
  .element {
    width: 100%;
    margin-bottom: 30px;
  }
  .bottom {
    display: block;
  }
  .bottom-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 510px) {
  .footer {
    padding: 50px 0;
  }
}
