---
import styles from "./styles.module.css";

---

<!-- 

../  -- go level up folder

./ -- same folder

-->

<nav class="menu">
  <ul class={styles.menu__list}>
    <!-- ЗАМЕНИТЬ -->
    <li class="menu__item">
      <a href="#" class="menu__link">About company</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Products</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Partners</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Blog</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
  </ul>
</nav>
